// Amaze UI Touch: Datetime
// =============================================================================
@import "../env";
// Mixins
// -----------------------------------------------------------------------------
@mixin datetime(
  $bottom: $datetime-bottom,
  $left: $datetime-left,
  $height:$datetime-height
) {
  position: fixed;
  bottom: $bottom;
  left: $left;
  height: $height;
  width: 100%;
  z-index: 9999;
  background: $white;
  transition: transform 0.3s;
  transform: scaleY(0);
  transform-origin: 100% 100%;
}

@mixin header(
  $height:$datetime-header-height
) {
  position: relative;
  padding: 0 0.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: $height;
  border-bottom: 1px solid $gray-lighter;
}

@mixin button(
  $height:$datetime-header-height
) {
  display: inline-block;
  border: 0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  float: right;
  height: $height;
  font-size: $font-size-default;
  color: $global-primary;
}

@mixin col() {
  font-size: $font-size-lg;
  overflow: hidden;
  height: 100%;
  position: relative;
}

@mixin item() {
  text-align: center;
  user-select: none;
  color: $gray-light-more;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  &.active {
    color: $black;
  }
}

.#{$datetime-prefix} {
  @include datetime();
  &-result {
    width: 100%;
    border: 1px solid $gray-light-more;
    padding: 0.75rem 0.5rem;
    font-size: $font-size-default;
    color: $black;
  }
  &-header {
    @include header();
    &-button {
      @include button();
    }
  }
  &-main {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    height: 13.7rem;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
    -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
    &-col {
      @include col();
      &-wrapper {
        transition: transform 300ms;
        transform: translate3d(0, 0, 0);
        webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        &-item {
          @include item();
        }
      }
    }
    &-divider {
      color: $black;
      display: flex;
      align-items: center;
    }
    &-highlight {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2rem;
      margin-top: -1rem;
      border-top: solid 1px $gray-light-more;
      border-bottom: solid 1px $gray-light-more;
      pointer-events: none;
    }
  }
}
